@charset "UTF-8";
/*IMPORTS*/
@import url("https://fonts.googleapis.com/css2? family= Roboto:wght@100;300;500 & display=swap");
/* MISC */
/*VARIABLES*/
/*Font Sizes*/
/*Spacings*/
/*NORMALIZE*/
* ´ {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62,5%; }

body {
  font-family: 'Roboto', sans-serif;
  font-size: var(--text-sm);
  color: #FDFDFD;
  background-image: url(https://cdn.clickwallpapers.net/images/clickwallpapers-FIFA23-jogos-4k-img4.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover; }

ul {
  list-style-type: none; }

a {
  font-size: var(--text-md);
  text-decoration: none;
  color: black; }

.container_main {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column; }

.buttons {
  margin: 20px;
  display: flex;
  flex-direction: column;
  background-color: chartreuse;
  justify-content: center;
  align-items: center;
  border: none;
  height: 50px;
  width: 300px;
  border-radius: 25px; }

/* PARTIALS */
header {
  padding: var(--sp-sm);
  background-color: crimson; }
  header .navbar .navbar__link {
    display: flex; }
    header .navbar .navbar__link .img_logo {
      width: 200px;
      height: 100px;
      display: flex;
      align-items: center; }
    header .navbar .navbar__link .navbar .menu {
      display: flex;
      justify-content: flex-end;
      flex-direction: row; }
      header .navbar .navbar__link .navbar .menu .navbar .menu .menu__link {
        color: #FDFDFD;
        margin: 8px; }

/*Footer*/
footer {
  background-color: crimson;
  padding: var(--sp-sm);
  height: 100px; }
  footer .derechos {
    display: flex;
    justify-content: center;
    color: black; }
  footer .logos__align {
    margin: 8px;
    padding: 20px;
    display: inline; }
    footer .logos__align .logos .logos__align .logos__foot {
      width: 50px;
      height: 50px; }

/* PAGES */
#comprador {
  color: #FDFDFD; }

.precios {
  display: flex;
  flex-direction: column;
  align-items: center; }

.contacto_logos {
  margin: 8px;
  padding: 20px;
  display: inline; }
  .contacto_logos .contacto_info .contacto_logos .logos_contacto {
    width: 50px;
    height: 50px; }

#proveedor {
  color: #FDFDFD; }
